<div class="btn-group">
  <button type="button" class="btn btn-default btn-text" id="text-dates">Dates</button>
  <button type="button" class="btn btn-default btn-text" id="text-notes">Notes</button>
</div>