<div id="options"></div>
<div class="row">
  <div class="col-md-3" id="orangeaverage"></div>
  <div class="col-md-3" id="purpleaverage"></div>
  <div class="col-md-3" id="greenaverage"></div>
  <div class="col-md-3" id="banneraverage"></div>
</div>