<div class="input-group panel panel-default">
  <div class="">
    <div class="panel-heading">
      <h3 class="panel-title">Charm City Circulator Ridership Viewer</h3>
    </div>
    <div class="panel-body" id="options">
      Panel content
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-3" id="orangeaverage"></div>
    <div class="col-md-3" id="purpleaverage"></div>
    <div class="col-md-3" id="greenaverage"></div>
    <div class="col-md-3" id="banneraverage"></div>
  </div>
